PORT = 3000
MONGO_URI = mongodb+srv://ayushi29:Learnmongo1@cluster0.nyg6ymr.mongodb.net/?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 53511853420-10iefkn8v6she5i5a62lhqhb3bjm69kf.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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